body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    border: 1px dashed blue;
    border-radius: 20px;
    margin: 50px;
}
.game-area{
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}
#game-info{
    background-color: rgb(178, 217, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#controls{
    background-color: rgb(154, 189, 218);
}
#game-container{
    background-color:rgb(162, 209, 252);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.tube{
    width: 50px;
    height: 200px;
    border: 2px solid black;
    border-radius: 0 0  10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-top: 20px;
    border-top: nones;
}

.water{
    width: 100%;
}
.tube.selected{
    border-color: 'red';
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transform: translateY(-20px);
}